.flat-table {
    margin-bottom: 20px;
    border-collapse: collapse;
    font-family: "Lato", Calibri, Arial, sans-serif;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.flat-table th,
.flat-table td {
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1), inset 0 1px rgba(0, 0, 0, 0.1);
}

.flat-table th {
    text-align: left;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    color: var(--secondaryColor);
    background-color: var(--primaryColor);
    padding: 0.6em 1em;
    font-size: 1rem;
}

.flat-table td {
    color: var(--primaryColor);
    padding: 0.7em 1em 0.7em 1.15em;
    font-size: 1rem;
}

.flat-table tr {
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
    background-color: var(--secondaryColor);
}

.flat-table tr:hover {
    background-color: rgba(255, 255, 255, 0.24);
}

.flat-table-1 {
    width: 100%;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;
    margin-bottom: 50px;
}

.charts .line-chart,
.charts .bar-chart {
    flex: 0 0 33%;
}

.data-grid {
    height: 400px;
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

.pie-chart-wrapper {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.pie-chart-wrapper h5 {
    text-align: center;
    color: black;
    margin-bottom: 10px;
}

.pie-chart-wrapper canvas {
    height: 330px;
}

.MuiDataGrid-columnsContainer {
    background: var(--primaryColor);
    color: var(--secondaryColor);
}

/* media queries */
@media only screen and (max-width: 1500px) {
    .left-panel {
        width: 73%;
        margin-left: 25%;
    }
}

@media only screen and (max-width: 1300px) {
    .left-panel {
        width: 65%;
        margin-left: 32%;
    }
}

@media only screen and (max-width: 1000px) {
    .left-panel {
        width: 100%;
        margin-left: 0;
    }
}