.mobile-header {
    margin-top: 13vh;
}

.burger-menu {
    margin: 14px 0 0 19px;
}

.burger-menu .menu-check {
    display: none;
}

.burger-menu .menu-open {
    border: none;
    padding: 30px 35px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
    z-index: 1;
    padding-top: 16px;
    background: var(--primaryColor);
}

.burger-menu .menu-open span {
    width: 40px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1.5px;
    margin-left: -20px;
    background-color: #fff;
    font-weight: bold;
    opacity: 1;
    transition: 0.3s;
}

.burger-menu .menu-open span.burger1 {
    transform: translate3d(0px, -10px, 0px);
}

.burger-menu .menu-open span.burger2 {
    transform: translate3d(0px, 0px, 0px);
    transition: 0.1s;
}

.burger-menu .menu-open span.burger3 {
    transform: translate3d(0px, 10px, 0px);
}

.burger-menu .menu-check:checked + .menu-open {
    border: 0;
}

.burger-menu .menu-check:checked + .menu-open span.burger1 {
    transform: translate3d(0px, -10px, 0px) rotate(-45deg);
    width: 30px;
}

.burger-menu .menu-check:checked + .menu-open span.burger2 {
    opacity: 0;
}

.burger-menu .menu-check:checked + .menu-open span.burger3 {
    transform: translate3d(0px, 10px, 0px) rotate(45deg);
    width: 30px;
}

.burger-menu .menu-options {
    background-color: var(--color1);
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    padding: 0px 100px 0px 0;
    opacity: 0;
    transition: 0.3s;
    margin-top: 84px;
}

.burger-menu .menu-options li {
    color: #fff;
    text-align: center;
    list-style: none;
    display: block;
    font-weight: normal;
}

.burger-menu .menu-options li a {
    text-decoration: none;
    color: #fff;
    line-height: 4em;
    display: block;
    transition: 0.5s;
}

.burger-menu .menu-options li a:hover {
    background: gainsboro;
    color: black;
}

.burger-menu .menu-options li.search {
    margin-bottom: 1em;
}

.burger-menu .menu-check:checked ~ .menu-options {
    width: 100%;
    opacity: 1;
    background: var(--primaryColor);
}
