.list-item {
    display: flex;
    background-color: white;
    color: black;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    flex-wrap: wrap;
    cursor: pointer;
}

.list-item div {
    flex: 0 0 20%;
}

.list-item p {
    margin-top: 10px;
}

.list-item .actions svg {
    color: var(--secondaryColor);
    font-size: 21px;
    float: right;
    background: var(--primaryColor);
    padding: 9px;
    border-radius: 50px;
}